body{
    margin: 0;
    padding: 0;
    font-family: arial;
    background-image: url("https://spfc-gs.s3.amazonaws.com/prod/assets/images/bg_header+1.png");
}
/* Começo do MENU */
 a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 5px;
    font-size: 20px;
}
a:hover{
    background-color: white;
    color: black;
    width: 100%;
}
ul{
    list-style: none;
    top: 90px;
    position: absolute;
    width: 100%;
}
li{
    width: 250px;
    margin-left: -40px;
    
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(190px);
}
nav{
    background-color: #A11116;
    width: 260px;
    margin-left: -190px;
    height: 968px;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
#img_menu{
    margin-left: 5px;
}
.img_menus{
    margin-right: -3px;
    float: right;
    margin-top: -10px;
    margin-left: 10px;
}
.img_menus1{
    margin-right: -3px;
    float: right;
    margin-top: 5px;
    margin-left: 10px;
}
#but_login_menu{
    margin-top: 30px;
    margin-left: 80px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: 20px;
}
#but_login_menu:hover{
    background-color: black;
    color: white;
    font-size: 20px;
    transform: scale(1.2);
}
#a_but_login{
    background-color: #A11116;
}
#logo{
    float: left;
    height: 120px;
    position: absolute;
    margin-left: 1780px;
    margin-top: -950px;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
}
/* Fim MENU */

/* Começo PAG */
.ge{
    margin-top: -950px;
    /* margin-bottom: 2700px; */
}
#tt_ge{
    font-size: 50px;
    color: black;
}
#capa1{
    margin-top: 50px;
    width: 300px;
    height: 200px;
    float: left;
}
#tt{
    color: red;
    font-size: 25px;
    float: right;
    margin-right: 60px;
    margin-top: 100px;
}
#sub_tt{
    color: gray;
    font-size: 15px;
    float: right;
    margin-right: 595px;
}
.not1{
    border-bottom: solid red;
}
.not2{
    margin-top: 240px;
    border-bottom: solid red;
}
#tt1{
    color: red;
    font-size: 25px;
    float: right;
    margin-right: 73px;
    margin-top: 100px;
}
#sub_tt1{
    color: gray;
    font-size: 15px;
    float: right;
    margin-right: 460px;
}
.not3{
    margin-top: 270px;
    border-bottom: solid red;
}
#tt2{
    color: red;
    font-size: 25px;
    float: right;
    margin-right: 250px;
    margin-top: 100px;
}
#sub_tt2{
    color: gray;
    font-size: 15px;
    float: right;
    margin-right: 420px;
}
.not4{
    margin-top: 270px;
    border-bottom: solid red;
}
#tt3{
    color: red;
    font-size: 25px;
    float: right;
    margin-right: 100px;
    margin-top: 100px;
}
#sub_tt3{
    color: gray;
    font-size: 15px;
    float: right;
    margin-right: 535px;
}
.not5{
    margin-top: 270px;
    border-bottom: solid red;
}
#tt4{
    color: red;
    font-size: 25px;
    float: right;
    margin-right: 172px;
    margin-top: 100px;
}
#sub_tt4{
    color: gray;
    font-size: 15px;
    float: right;
    margin-right: 425px;
}
.not6{
    margin-top: 270px;
    border-bottom: solid red;
}
/* Fim PAG */

/* Inicio do Footer */
footer{
    width: 100%;
    background-image: url(https\:\/\/spfc-gs\.s3\.amazonaws\.com\/prod\/assets\/images\/bg-footer\.png);
    height: 400px;
}
.ttinp{
    width: 480px;
    height: 30px;
    margin-left: 450px;
    margin-top: 80px;
}
.input{
    width: 800px;
    height: 80px;
    margin-left: 350px;
}
#inp_env{
    margin-top: 15px;
    width: 400px;
    height: 50px;
    margin-left: 130px;
    /* color: white; */
    border: 0.5px solid white;
}
#but_env{
    height: 52px;
    width: 100px;
    border: none;
    background-color: red;
    border-radius: 15px;
    color: white;
    font-size: 15px;
}
.redes{
    margin-left: 350px;
    height: 50px;
    width: 320px;
    margin-left: 600px;
    margin-top: 15px;
}
.pags{
    height: 20px;
    width: 800px;
    margin-left: 360px;
    margin-top: 15px;
    /* margin-top: 500px; */
}
#pag_footer{
    font-size: 15px;
    color: white;
    font-weight: lighter;
    margin-left: 80px;
}
.rodape{
    margin-top: 15px;
    margin-left: 530px;
}